:root {
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-dark: #525252;
    --color-black: #141415;
    --color-primary-light: hsl(14, 89%, 53%, 12%);
    --color-primary: #ff3c00;
    --color-success: #2ef5a6;
    --color-warning: #ffce31;
    --transition: 0.3s ease;
    color: #e0ac9c;


}


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-primary-light);

}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}


html {
    font-size: 15px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

body {
    background-color: var(--color-white);
    color: var(--color-dark);
    max-width: 100vw;

}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: none
}

section {
    padding: 10rem 0 7rem;
    max-width: 100vw;
    overflow-x: hidden;

}

.btn {
    padding: 1.1rem 4rem;
    font-size: 1.1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);

}

.btn:hover {
    box-shadow: 0 2rem 2rem var(--color-primary-light);

}



/* =====================navbar================== */


nav {
    background-color: var(--color-light);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-bottom: 1px solid var(--color-light);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;

}

.menu-btn {
    display: none;
}

nav img {
    height: 40px;
    border-radius: 50%;
    margin-top: -12px;
}

nav .container h3 {
    color: var(--color-primary);
    font-size: 25px;
    margin-left: -290px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    /* height: 530px; */
}

nav ul {
    display: flex;
}



nav ul li a {
    color: var(--color-black);
    font-size: 20px;
    padding: 10px 20px;

}

nav ul li a:hover {
    background-color: var(--color-primary);
    height: 100%;
    cursor: pointer;
    color: var(--color-white);
}

.home {
    height: 100vh;
}





@media (max-width:480px) {

    nav {
        background-color: var(--color-light);
        height: 4.2rem;
        width: 48vh;
        display: flex;
        align-items: center;
        justify-content: start;
        z-index: 20;
        box-shadow: 0 2px 15px var(--color-primary);
        top: 60px;
        border-bottom: 1px solid var(--color-light);
        left: 0px;
        right: 0;

    }

    nav .container h3 {
        color: var(--color-primary);
        font-size: 30px;
        z-index: 100;
        position: relative;
        top: -15px;
        left: 310px;
        width: 100px;

    }


    section {
        padding: 6rem 0 7rem;
        max-width: 100vw;
        overflow-x: visible;

    }

    nav img {
        display: none
    }

    nav .container {
        display: flex;
        flex-direction: column;
        width: 48vh;
        height: 0;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        justify-content: left;
        background-color: var(--color-primary);
        height: 100vh;
        top: -90px;
        width: 25vh;
        gap: 10px;
        
        box-shadow: 5px 10px 15px 5px var(--color-dark);
        left: -260px;
        margin-top: 100px;
        z-index: 100;
    }

    .shownav {
        left: 10px;
        transition: 0.3s ease;
    }

    nav ul {
        width: 48vh;
      
    }


    nav ul li {
        margin-top: 16px;
        margin-bottom: 10px;
       

       
    }

  
    nav ul li a {
        color: var(--color-white);
        font-size: 20px;
        padding: 5px 20px;

       
      
    }
  


    nav ul li a:hover {
        background-color: var(--color-primary);
        height: 100%;
        cursor: pointer;
        color: var(--color-white);

    }

    .menu-btn {
        display: inline-block;
        position: relative;
        left: 300px;
        top: -490px;
        background-color: transparent;
        width: 30px;

    }

    .menu-btn i {
        font-size: 30px;
    }

}






/* ----------------landign are --------------- */

section.landing {
    display: grid;
    place-items: center;
    position: relative;
    /* top: 2rem; */
    padding-bottom: 14rem;


}

.landing .container {
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;
}

.landing .social {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 10rem;
}

.landing .social a {
    font-size: 1.1rem;
    background: var(--color-light);
    color: var(--color-black);
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    width: 2rem;
}

.landing .social a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.landing .info h1 {
    font-size: 50px;
    text-align: left;
    color: black;
    width: 450px;
    margin: 0;

}

.landing .info h3 {
    font-size: 26px;
    margin: 2.4rem 0 1rem;
    color: var(--color-black);
}

.info h3 span {
    color: var(--color-primary);
}

.landing .info p {
    width: 600px;
}


@media (max-width:480px) {

    section.landing {

        display: grid;
        place-items: center;
        position: relative;
        margin-top: 100px;
        padding-bottom: 14rem;


    }

    .landing .container {
        display: flex;
        flex-direction: column-reverse;


    }

    .info {
        padding: 0 10px;
    }

    .landing .social {
        display: none
    }

    .landing .info h1 {
        font-size: 28px;
        text-align: left;
        color: black;
        text-align: center;
        width: 360px;
        margin-left: -20px;


    }

    .landing .info h3 {
        font-size: 18px;
        margin-top: 9px;
        color: var(--color-black);
        margin-left: 70px;
    }

    .landing .info p {
        width: 300px;
        margin-left: 10px;
        text-align: center;
    }

    .info .btn {
        margin-left: 30px;
        width: 250px;
        text-align: center;
    }

}


/* ---------------profile-area------------ */

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.profile-area .outer-circle {
    width: 26rem;
    height: 26rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
    animation: move 30s linear infinite;


}

@keyframes move {
    to {
        transform: rotate(360deg);
    }

}

.profile-area .outer-circle i {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    background: var(--color-white);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0 1rem var(--color-primary-light)
}

.outer-circle i:nth-child(1) {
    left: calc(50% - 2rem);
    top: -1rem;
}

.outer-circle i:nth-child(2) {
    right: -1rem;
    top: calc(50% - 2rem);
}

.outer-circle i:nth-child(3) {
    left: -1rem;
    top: calc(50% - 2rem);
}

.outer-circle i:nth-child(4) {
    bottom: -1rem;
    left: calc(50% - 2rem);
}



.inner-circle img {
    position: absolute;
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    /* overflow: hidden; */
    right: 34px;
    top: 55px;


}




@media (max-width:480px) {


    .profile-area .outer-circle {
        width: 12rem;
        height: 12rem;
        border: 1px solid var(--color-primary);
        border-radius: 50%;
        position: relative;
        animation: move 30s linear infinite;
        position: relative;
        left: -5px;
        top: 8px;


    }

    @keyframes move {
        to {
            transform: rotate(360deg);
        }

    }

    .inner-circle img {
        position: absolute;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        /* overflow: hidden; */
        left: 83px;
        top: 23px;

    }


}



/* -------------------about ------------------ */

.about {
    margin-top: -200px;
    /* height: 700px; */
    padding-left: 50px;
}

.about h2 {
    text-align: center;
    color: var(--color-black);
    font-size: 45px;
    padding-bottom: 50px;
}

.about .container {
    display: flex;
    gap: 80px;

}


.Read-more-content {
    display: none;

}

.show-content {
    display: inline-block;
}

.read {
    text-decoration: underline;

}





.about-right {
    width: 600px;
    margin-top: 20px;
}

.dowmload {
    padding: 10px 40px;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: relative;
    top: 80px;
    transition: 0.3s ease;
    left: -70px;

}

.dowmload:hover {
    background-color: var(--color-white);
    box-shadow: 0 0 1rem var(--color-primary);
    color: black;
}


.dowmload i {
    padding-left: 20px;
}



.about-left img {
    height: 450px;
    border-radius: 5px;
}


@media (max-width:480px) {
    .about {
        margin-top: -200px;
        padding-left: -50px;
        width: 48vh;

    }

    .about h2 {
        text-align: center;
        color: var(--color-black);
        font-size: 40px;
        padding-bottom: 50px;
        margin-left: -80px;
    }

    .about .container {
        display: flex;
        gap: 80px;
        flex-direction: column;

    }

    .about-left img {
        height: 400px;
        border-radius: 5px;
        margin-left: -20px;
    }

    .about-right {
        width: 270px;
        margin-left: -20px;
        text-align: left;
        margin-top: -20px;
    }

    .dowmload {
        padding: 10px 30px;
        background-color: var(--color-primary);
        color: var(--color-white);
        position: relative;
        top: 80px;
        transition: 0.3s ease;
        left: -70px;



    }

    .dowmload:hover {
        background-color: var(--color-white);
        box-shadow: 0 0 1rem var(--color-primary);
        color: black;
    }


    .dowmload i {
        padding-left: 20px;
    }

}




/* =====================skills =================== */


.skills {
    /* height: 170vh; */
    z-index: 100;
    overflow: hidden;
}

.skills h2 {
    text-align: center;
    color: var(--color-black);
    font-size: 45px;
    padding-bottom: 50px;
}

.skills .container {
    width: 50%;
}

.skills .skill {
    margin-bottom: 1rem;

}

.skill .head {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 1.6rem;
    cursor: pointer;
}

.head h4 {
    color: var(--color-white);

}

.head .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left i,
h4 {
    font-size: 20px;
}

.items {
    display: none;
}

.show-items {
    display: block;
}

.skill .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    background-color: #e4e0e0;
    margin-bottom: 0.3rem;
    transition: 0.3s ease;

}

.skill .item:hover {
    cursor: pointer;
    background-color: var(--color-white);
}

.item h5 {
    font-size: 18px;
    color: #141415;

}

.progress-area {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.progress-bar {
    width: 100%;
    height: 1rem;
    background-color: var(--color-primary-light);

}

.progress {
    height: 100%;
    width: 92%;
    background-color: var(--color-primary);
}

.item:nth-child(2) .progress {
    width: 84%;
}

.item:nth-child(3) .progress {
    width: 75%;
}



@media (max-width:480px) {

    .skill .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        /* padding: 1.5rem; */
        padding-block: 5px;
        background-color: #e4e0e0;
        margin-bottom: 0.3rem;
        transition: 0.3s ease;

    }


    .skills {
        /* height: 170vh; */
        z-index: 100;
        width: 48vh;
    }

    .skills h2 {
        text-align: center;
        color: var(--color-black);
        font-size: 45px;
        padding-bottom: 50px;
        margin-left: -10px;
    }

    .skills .container {
        width: 80%;
        margin-left: 30px;
    }


}


/* ==============service================= */

.service {
    position: relative;
    overflow: hidden;


}

.service h2 {
    text-align: center;
    color: var(--color-black);
    font-size: 45px;
    padding-bottom: 50px;
}

.service-container {
    display: flex;
    gap: 30px;
    padding: 0 100px;

}

.service-container-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    background-color: #f5efef;
    padding: 50px 20px;
    cursor: pointer;
    color: var(--color-black);
    transition: 0.3s ease;

}

.service-container-item:hover {
    box-shadow: 0px 3px 15px var(--color-primary);
    cursor: pointer;
}

.service-container-item i {
    padding: 12px 10px;
    background-color: red;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    color: var(--color-white);
    margin-left: 130px;

}

.service-container-item:nth-child(2) i {
    background-color: green;
    color: var(--color-white);
}

.service-container-item:nth-child(3) i {
    background-color: yellow;
    color: var(--color-white);
}

.service-container-item h3 {
    font-size: 25px;
    padding-block: 15px;
}



@media (max-width:480px) {
    .service {
        position: relative;
        height: 1200px;
        width: 48vh;


    }

    .service h2 {
        text-align: center;
        color: var(--color-black);
        font-size: 40px;
        padding-bottom: 50px;
        /* margin-left: -10px; */
    }

    .service-container {
        display: flex;
        gap: 30px;
        padding: 0 100px;
        flex-direction: column;
        margin-left: -80px;

    }

    .service-container-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 43vh;
        background-color: #f5efef;
        padding: 50px 20px;
        cursor: pointer;
        color: var(--color-black);
        transition: 0.3s ease;

    }

    .service-container-item i {
        padding: 12px 10px;
        background-color: red;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        align-items: center;
        color: var(--color-white);
        margin-left: 130px;

    }

}


/* =============work============== */

.work .container h2 {
    text-align: left;
    color: var(--color-black);
    font-size: 45px;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-left: -8px;
    width: 100%;

}

.work h3 {
    text-align: left;
    color: black;
    font-size: 25px;
    padding-bottom: 20px;
    width: 40vh;

}

.work img {
    height: 300px;
}

.my-work {
    display: flex;
    gap: 60px;
    padding-top: 40px;
    width: 100%;
}

.my-work p {
    width: 450px;
    padding-block: 30px;
}

.my-work h4 {
    font-size: 40px;
    color: var(--color-black);
    width: 450px;

}

.work-item-left {
    width: 50%;
}

.pic-five {
    width: 470px;
}

.pic-six {
    width: 470px;
}

.pic-seven {
    width: 470px;
}

.work-item-right {
    width: 50%;
    padding-top: 40px;
}



@media (max-width:480px) {
    .work .container {
        width: 48vh;
        margin-left: 30px;
    }


    .work .container h2 {
        text-align: left;
        color: var(--color-black);
        font-size: 25px;
        text-transform: capitalize;



    }

    .work h3 {
        text-align: left;
        color: black;
        margin-bottom: -30px;
        font-size: 20px;
        padding-bottom: 5px;

    }

    .work-item-left {
        width: 0%;
    }

    .pic-five {
        width: 250px;
    }

    .my-work p {
        width: 300px;
        padding-block: 30px;
    }

    .pic-six {
        width: 250px;
    }

    .pic-seven {
        width: 250px;
    }

    .work-item-right {
        width: 50%;
        padding-top: 40px;
    }

    .work img {
        height: 200px;
    }

    .my-work {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding-top: 40px;
    }

    .my-work h4 {
        font-size: 30px;
        color: var(--color-black);
        width: 300px;

    }
}


/* -----------------testimonial-------------- */



.Testimonials {
    overflow: hidden;

}

.Testimonials-container {

    height: 300px;

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    font-size: 18px;
    background-color: #f5efef;
    flex-direction: column;
    display: flex;
    padding: 10px 60px;

}

.swiper-head-left {
    display: flex;
    flex-direction: row;

}

.swiper-head-left h3 {
    font-size: 32px;
    position: relative;
    left: 20px;
}

.swiper-head-left h5 {
    font-size: 15px;
    position: relative;
    left: -190px;
    top: 40px;
}

.swiper-bottom p {
    width: 150vh;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    left: 120px;
}



.swiper-slide img {
    display: block;
    width: 11%;
    height: 11%;
    border-radius: 50%;

}

.stars {
    color: var(--color-primary);
    position: relative;
    right: -500px;
}





.Testimonials h2 {

    text-align: center;
    color: var(--color-black);
    font-size: 45px;
    padding-block: 50px;
}


@media (max-width:480px) {


    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {

        font-size: 18px;
        background-color: #f5efef;
        flex-direction: row;
        display: flex;
        /* padding: 10px 60px; */

    }

    .swiper-bottom p {
        display: none;
    }

    .swiper-slide img {
        /* display: block; */
        width: 10%;
        height: 10%;
        border-radius: 50%;
        margin-left: -90px;

    }

    .swiper-head-left h3 {
        font-size: 30px;
        position: relative;
        /* left: 20px; */
        top: 10px;
        width: 50vh;
    }

    .swiper-head-left h5 {
        font-size: 16px;
        position: relative;
        left: -300px;
        top: 80px;
        width: 400px;
    }

    .stars {
        display: none;
    }



}










/* --------------contact------------- */

.contact {
    /* position: relative; */
    background: url(images/p4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    overflow: hidden;
    /* width: 48vh; */

}

.overlay {
    width: 100%;
    height: 250%;

    background: rgba(0, 0, 0, 0.7);
    margin-top: -150px;
}

.overlay .container {
    width: 40%;
    overflow-x: hidden;
    padding-top: 100px;
}

.overlay .container p {
    color: var(--color-white);
    text-align: center;
    padding-bottom: 10px;
    opacity: 0.8;
}

.container h2 {

    text-align: center;
    color: var(--color-white);
    font-size: 45px;
    padding-block: 50px;
}

.overlay .container form {
    margin-top: 3rem;
}

.overlay .container form input,
.overlay .container form textarea {
    display: block;
    width: 100%;
    margin: .8rem 0;
    padding: 1rem;
    border: 1px solid var(--color-white);
    background-color: transparent;
    transition: 0.3s ease;

}

.overlay .container form input:focus,
.overlay .container form textarea:focus {
    background-color: var(--color-white);
    color: var(--color-black);
}

.overlay .container form input::placeholder,
.overlay .container form textarea::placeholder {

    color: var(--color-white);
}

.overlay .container form .btn {
    width: 14rem;
    border: none;
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 2rem auto 0;
    transition: 0.3s ease;
}

.overlay .container form .btn:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;

}


@media (max-width:480px) {

    .contact {
        background: url(images/p4.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 800px;




    }

    .overlay {
        width: 400px;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        margin-top: -96px;

    }

    .overlay .container {
        width: 400px;
        overflow-x: hidden;
        margin-left: 10px;
       
    }

    .overlay .container p {
        color: var(--color-white);
        text-align: center;
        padding-bottom: 10px;
        opacity: 0.8;
        width: 300px;
        margin-left: -10px;
    }

    .container h2 {

        text-align: center;
        color: var(--color-white);
        font-size: 35px;
        padding-block: 50px;
        margin-left: -60px;
    }

    .overlay .container form input,
    .overlay .container form textarea {
        display: block;
        width: 40vh;
        margin: .8rem 0;
        padding: 1rem;
        border: 1px solid var(--color-white);
        background-color: transparent;
        transition: 0.3s ease;

    }

    .overlay .container form .btn {
        width: 12rem;
        border: none;
        background-color: var(--color-white);
        color: var(--color-black);
        margin: 2rem auto 0;
        transition: 0.3s ease;
        margin-left: 50px;
    }

    .overlay .container form .btn:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;

    }

 
}